<nav class="nav">
  <h1><a routerLink="/">E-COM</a></h1>
  <!-- search bar start -->
  <div *ngIf="menuType == 'default'" class="nav-search">
    <input #searchInput
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
      type="text"
      placeholder="Search for product"
    />
    <button (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="reDirectToDetails(item.id)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <!-- search bar end -->

  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="/user-auth">Login</a></li>
      <li><a routerLink="">Cart({{cartItem}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="seller-auth">{{userName}}</a></li>
      <li><a (click)= "userLogOut()">Logout</a></li>
      <li><a routerLink="">Cart({{cartItem}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-home">Product List</a></li>
      <li><a routerLink="seller-add-product">Add product</a></li>
      <li><a (click)="logOut()">Logout</a></li>
      <li>
        <a>{{ sellerName }}</a>
      </li>
    </ul>
  </div>
</nav>
