<div class="product-list">
    <h1>All product list</h1>
    <p class="p-message">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>price</th>
                <th>color</th>
                <th>image</th>
                <th>description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of productList">
                <td>{{data.name}}</td>
                <td>{{data.price}}</td>
                <td>{{data.color}}</td>
                <td><img src="{{data.image}}" /></td>
                <td>{{data.description}}</td>
                <td><fa-icon (click)="deleteProduct(data.id)" [icon]="icon"></fa-icon>
                <a class="adjust-update-link" routerLink="/seller-update-product/{{data.id}}">
                    <fa-icon  [icon]="editIcon"></fa-icon>
                </a>
            </td>
            </tr>
        </tbody>
    </table>
</div>